.battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.battle-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
}

.vs-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Pokemon */
.pokemon-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.pokemon-info {
  background: white;
  padding: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
p.pokemon-info {
  border: 2px solid;
  border-radius: 30px;
}
p.left {
  background-color: #c3f7c8;
  border-color: #8ee895;
}
p.right {
  background-color: #cfe4ff;
  border-color: #b5d6ff;
}

.pokemon-image {
  width: 120px;
  height: auto;
  margin: 10px 0;
  /* TODO: add nice anim as though ready to fight*/
}

.button-container {
  display: flex;
  gap: 15px;
}

/* BattleButton */
.battle-button {
  background: linear-gradient(90deg, #ff4e50, #fc913a);
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.battle-button:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #fc913a, #ff4e50);
}

.battle-button:disabled {
  background: #ccc;
  color: #888;
  cursor: not-allowed;
  transform: none;
}

/* Battle Log */
.battle-log-container {
  width: 80%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
}

.battle-log-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.battle-log {
  font-size: 1.2rem;
  font-weight: normal;
  color: #555;
  min-height: 24px;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  padding: 20px;
}

.loader::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: 4px solid #ff4e50;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
